<div *ngIf="kafkaService.getNumTopicsSelected() > 0" [class.message-box]="true" [class.dark-theme]="configurationService.theme == 'dark'">

    <table class="pure-table messages">
        <tr>
            <ng-container *ngFor="let column of columns">
                <ng-container *ngIf="column.isEnabled">
                    <th id="column-{{ column.name }}" (click)="stepWidth(column)"
                        class="{{ (column.width? 'width-' + column.width : '') }} {{ column.isResizable? 'resizable' : '' }}">
                        {{ column.name }}
                    </th>
                </ng-container>
            </ng-container>
        </tr>

        <ng-container *ngFor="let message of messages">
            <ng-container *ngIf="!message.isFilteredOut">
                <tr [class.new]="isNewMessage(message)" [class.newMore]="isNewAddedMoreMessage(message)">

                <ng-container *ngIf="['subscribed-to-topic', 'messages-to-fetch'].indexOf(message.type) >= 0">
                    <td class="connection" [style.font-size.px]="configurationService.config.fontSize">{{ message.connection }}</td>
                    <td class="topic" [style.font-size.px]="configurationService.config.fontSize">{{ message.topic }}</td>
                    <td class="notification" [attr.colspan]="getNumberOfColumns() - 2" [style.font-size.px]="configurationService.config.fontSize">
                        <ng-container *ngIf="message.type == 'subscribed-to-topic'">
                            Loading messages of topic {{ message.topic }} from connection {{ message.connection }}... <img src="./assets/images/spinner-icon-0.gif" style="height: 16px; line-height: 16px">
                        </ng-container>
                        <ng-container *ngIf="message.type == 'messages-to-fetch' && message.userValues.numOfMessages > 0">
                            Loading {{ message.userValues.numOfMessages }} messages...
                            <img src="./assets/images/spinner-icon-0.gif" style="height: 16px; line-height: 16px">
                        </ng-container>
                        <ng-container *ngIf="message.type == 'messages-to-fetch' && message.userValues.numOfMessages == 0 && message.userValues.numOfMessagesMore > 0">
                            {{ message.userValues.numOfMessagesMore }} messages left on the topic.
                            <span class="load-more" (click)="loadMoreMessages(message)">
                                Load {{ configurationService.config.numberOfMessagesPerTopic < message.userValues.numOfMessagesMore? configurationService.config.numberOfMessagesPerTopic : message.userValues.numOfMessagesMore }} more.
                            </span>
                            <span class="dismiss" (click)="dismiss(message)">
                                Dismiss
                            </span>
                        </ng-container>
                        <ng-container *ngIf="message.type == 'messages-to-fetch' && message.userValues.numOfMessages == 0 && message.userValues.numOfMessagesMore == 0">
                            <span class="no-messages">
                                No messages
                            </span>
                        </ng-container>
                    </td>
                </ng-container>

                <ng-container *ngIf="message.type == 'message'">
                    <ng-container *ngFor="let column of columns">
                        <ng-container *ngIf="column.isEnabled" [ngSwitch]="column.name">

                            <td *ngSwitchCase="'Connection'" [className]="column.width? 'connection width-' + column.width : 'connection'" [style.font-size.px]="configurationService.config.fontSize">
                                {{ message.connection }}
                            </td>

                            <td *ngSwitchCase="'Topic'" [className]="column.width? 'topic width-' + column.width : 'topic'" [style.font-size.px]="configurationService.config.fontSize">
                                {{ message.topic }}
                            </td>

                            <td *ngSwitchCase="'Size'" [className]="column.width? 'size width-' + column.width : 'size'" [style.font-size.px]="configurationService.config.fontSize">
                                {{ message.formattedSize }}
                            </td>

                            <td *ngSwitchCase="'Published'" [className]="column.width? 'time width-' + column.width : 'time'"
                                (click)="configurationService.config.showTimeAgo = !configurationService.config.showTimeAgo" [style.cursor]="'pointer'"
                                [style.font-size.px]="configurationService.config.fontSize">
                                <ng-container *ngIf="configurationService.config.showTimeAgo">
                                    {{ message.timestamp | amTimeAgo }}
                                </ng-container>
                                <ng-container *ngIf="!configurationService.config.showTimeAgo">
                                    {{ message.formattedTimestamp }}
                                </ng-container>
                            </td>

                            <td class="payload" *ngSwitchCase="'Payload'" [style.max-width.px]="200" [style.font-size.px]="configurationService.config.fontSize">
                                <ng-container *ngIf="!message.json && !message.formattedJson && !message.metadataOpen">
                                    <span class="show-json" (click)="viewJSON(message)">
                                        JSON
                                    </span>
                                    <span class="show-formatted" (click)="viewFormatted(message)">
                                        Formatted
                                    </span>
                                    <span class="show-metadata" (click)="message.metadataOpen = true">
                                        Metadata
                                    </span>
                                    {{ message.payload }}
                                </ng-container>
                                <ng-container *ngIf="!!message.json">
                                    <span class="close-json" (click)="message.json = null">
                                        Close
                                    </span>
                                    <ngx-json-viewer [json]="message.json" [expanded]="false"></ngx-json-viewer>
                                </ng-container>
                                <ng-container *ngIf="!!message.formattedJson">
                                    <span class="close-formatted" (click)="message.formattedJson = null">
                                        Close
                                    </span>
                                    <span class="copy-formatted" (click)="copyToClipboard(message)">
                                        Copy <span class="copy-message" *ngIf="showCopyMessage">(Text copied)</span>
                                    </span>
                                    <pre>{{ message.formattedJson }}</pre>
                                </ng-container>
                                <ng-container *ngIf="message.metadataOpen">
                                    <span class="close-metadata" (click)="message.metadataOpen = false">
                                        Close
                                    </span>
                                    <table class="metadata">
                                        <tr>
                                            <th>Metadata</th><th>Value</th>
                                        </tr>
                                        <tr><td>Key</td><td>{{ message.key }}</td></tr>
                                        <tr><td>Offset</td><td>{{ message.offset }}</td></tr>
                                        <tr><td>Partition</td><td>{{ message.partition }}</td></tr>
                                        <tr><td>Size</td><td>{{ message.size }} bytes</td></tr>
                                        <ng-container *ngIf="message.headers && message.headers.length">
                                            <tr>
                                                <th>Header</th><th>Value</th>
                                            </tr>
                                            <ng-container *ngFor="let header of message.headers">
                                                <tr>
                                                    <td>{{ header[0] }}</td><td>{{ header[1] }}</td>
                                                </tr>
                                            </ng-container>
                                        </ng-container>
                                    </table>
                                </ng-container>
                            </td>

                            <td *ngIf="column.isUserDefined" [style.font-size.px]="configurationService.config.fontSize" [className]="column.width? 'user width-' + column.width : 'user'">
                                {{ message.userValues[column.name] }}
                            </td>

                        </ng-container>
                    </ng-container>
                </ng-container>
            </tr>
            </ng-container>
        </ng-container>

    </table>

</div>
