
.modal {
    display: block;
    position: fixed;
    z-index: 1;
    padding-top: 35px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.2);
}

.modal-content {
    background-color: #fefefe;
    z-index: 2; /* Sit on top */
    margin: auto;
    padding: 20px;
    border: 0px solid #888;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
}

.modal-title {
    font-weight: 600;
    margin-bottom: 10px;
}

