/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.pure-menu-link {
    color: #333;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 6px 12px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover, .dropdown:hover .dropbtn, .dropdown:hover a.pure-menu-link {
    background-color: #eee;
}

/* Show the dropdown menu on hover */
.dropdown.hover:hover .dropdown-content {
    display: block;
}

.dropdown.hover:hover .dropdown-content {
    display: block;
}

.pure-form input[type=color], .pure-form input[type=date], .pure-form input[type=datetime-local], .pure-form input[type=datetime], .pure-form input[type=email], .pure-form input[type=month], .pure-form input[type=number], .pure-form input[type=password], .pure-form input[type=search], .pure-form input[type=tel], .pure-form input[type=text], .pure-form input[type=time], .pure-form input[type=url], .pure-form input[type=week], .pure-form select, .pure-form textarea {
    padding: 6px 8px;
    -webkit-box-shadow: inherit;
    box-shadow: inherit;
    border-radius: 2px;
}

.pure-table td, .pure-table th {
    border-left: 1px solid #cbcbcb;
    border-width: 0 0 0 1px;
    font-size: 14px;
    margin: 0;
    overflow: visible;
    padding: 3px 10px;
}

/*
    Dark theme
 */

.dark-theme {
    color: #bbb;
    background-color: #2B2B2B;
}

.dark-theme .pure-menu-link {
    color: #bbb;
}

.dark-theme .pure-menu-active>.pure-menu-link, .dark-theme .pure-menu-link:focus, .dark-theme .dropdown:hover, .dark-theme .pure-menu-link:hover {
    background-color: #3C3F41;
}

.dark-theme .dropdown-content {
    color: #bbb;
    background-color: #3C3F41;
    box-shadow: inherit;
}

.dark-theme .dropdown-content a {
    color: #bbb;
}

.dark-theme .dropdown a:hover {
    color: #fff;
}

.dark-theme .dropdown-content a:hover, .dark-theme .dropdown:hover a.pure-menu-link {
    background-color: #3C3F41;
}

.dark-theme .ngx-json-viewer .segment .segment-main .segment-key {
    color: lightgreen !important;
}

.dark-theme .pure-button-primary, .dark-theme .pure-button-selected, .dark-theme a.pure-button-primary, .dark-theme a.pure-button-selected {
    background-color: #365880;
    color: #ddd;
}

.dark-theme .pure-button-primary:hover, .dark-theme .pure-button-selected:hover, .dark-theme a.pure-button-primary:hover, .dark-theme a.pure-button-selected:hover {
    background-color: #365880;
    color: #fff;
}
